#blue {
    height: 200px;
    width: 200px;
    margin: 20px;
}

#purple {
    height: 200px;
    width: 200px;
    margin: 20px;
}

#gold {
    height: 200px;
    width: 200px;
    margin: 20px;
}

#ruby {
    height: 200px;
    width: 200px;
    margin: 20px;
}